*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.bigbox{
    margin: 2% 10%;
}

.upperrow, .lowerrow{
    margin-bottom: 40px;
}       

/* rimosso float e clearfix, sostituito con display:inline-block*/

.up-left, .up-mid, .up-right, .down-left, .down-mid, .down-right {
   display: inline-block;
   width: 31%;
   padding: 0 1%;
   margin: 0 1%;
}

/*sistemato le immagini e i tag in modo da inserirle come contenuti e non background*/

.pic{
    position: relative;
}

img{
    width: 100%;
    cursor: pointer;
}

.first{
  display: block;
}

.second{
    display: none;
}

/* funzione hover*/

.pic:hover .first{
    display: none;
}

.pic:hover .second{
    display: block;
}

/*etichette*/

#favorite{
    width: 35px;
    line-height: 35px;
    background-color: white;
    position: absolute;
    right: 0px;
    top: 15px;
    text-align: center;
    font-size: 21px;

}

/*piccolo esperimento con hover per vedere se le precedenti regole vengono considerate o no*/

#favorite:hover{
    font-size: 35px;
    color: #eb0037;
}


.labels{
    position: absolute;
    left: 0px;
    bottom: 15px;
    font-size: 10px;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 20px;
}

.labels > .sale{
    width: 35px;
    background-color: #eb0037;

}

.labels > .eco{
    width: 70px;
    background-color:#168f67 ;
}

.labels > *{
    display: inline-block;
}

/*descrizioni articolo*/

.description{
    padding-top: 10px;
}

.description span, .description p{
  font-size: 11px;
}

.description p{
    color: #eb0037;
    font-weight: 700;
}

p span{
     color: black;
     text-decoration: line-through; 
}

