*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.bigbox{
    margin: 2% 10%;
}

.bigbox::after , .upperrow::after, .lowerrow::after{   
    content: "";
    clear: both;
    display: table;
}

.upperrow, .lowerrow{
    margin-bottom: 40px;
}       

.up-left, .up-mid, .up-right, .down-left, .down-mid, .down-right {
   float: left;
}

.up-mid, .down-mid{
    padding: 0 15px;
}

#pic{
    height: 462px;
    width: 320px;
    background-size: cover;
    position: relative;
}

/*foto*/

.a1{
    background-image: url(images/1.webp)
}

.a2{
    background-image: url(images/2.webp);
}

.a3{
    background-image: url(images/3.webp);
}

.b1{
    background-image: url(images/4.webp);
}

.b2{
    background-image: url(images/5.webp);
}

.b3{
    background-image: url(images/6.webp);
}

/* funzione hover*/

.a1:hover{
    background-image: url(images/1b.webp);
}

.a2:hover{
    background-image: url(images/2b.webp);
}

.a3:hover{
    background-image: url(images/3b.webp);
}

.b1:hover{
    background-image: url(images/4b.webp);
}

.b2:hover{
    background-image: url(images/5b.webp);
}

.b3:hover{
    background-image: url(images/6b.webp);
}

/*etichette*/

#favorite{
    width: 35px;
    line-height: 35px;
    background-color: white;
    position: absolute;
    right: 0px;
    top: 15px;
    text-align: center;
    font-size: 21px;
}

/*piccolo esperimento con hover per vedere se le precedenti regole vengono considerate o no*/

#favorite:hover{
    font-size: 35px;
    color: #eb0037;
}


.labels{
    position: absolute;
    left: 0px;
    bottom: 15px;
    font-size: 10px;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 20px;
}

.labels > .sale{
    width: 35px;
    background-color: #eb0037;

}

.labels > .eco{
    width: 70px;
    background-color:#168f67 ;
}

.labels > *{
    display: inline-block;
}

/*descrizioni articolo*/

.description{
    padding-top: 10px;
}

.description span, .description p{
  font-size: 11px;
}

.description p{
    color: #eb0037;
    font-weight: 700;
}

p span{
     color: black;
     text-decoration: line-through; 
}

